/* Index */

:root {
    --bg: white;
    --bg-secondary: #f8f8f8;
    --headings: #000;
    --text: black;
    --text-secondary: black;
    --links: purple;
}

html, body {
    background-repeat: no-repeat;
    background-position-x: center;
    height:100%;
    width: 100%;
}

body {
    background-color: var(--bg-secondary) !important;
    color: var(--text);
}

@media (prefers-color-scheme: dark) {

}

#content-grid {
    font-size: xx-large;
}

.index-content {
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
}

#main-wrapper {
    height:100%;
    width:100%;
}

#header-container {
    background-color: var(--bg);
    color: var(--text);
}

#header {
    font-size: 500%;
    font-weight: bold;
    color: var(--text);
}



#waw {
    background-image: url("/images/Block_M-Hex.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}
